[buildout]
develop = .
parts = test
extensions = lovely.buildouthttp
versions = versions

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color']
eggs = lovely.buildouthttp [test]

[versions]
zc.buildout=1.5.0b2
